.placards3{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;;

}

.cards3{
    display: flex;
    gap: 7vw;
    /* justify-content: space-evenly; */
    align-items: center;
}

.d{
    border:2px solid red;
    margin:5px;
}
.ss{
    border:2px solid red;
    margin:5px;

}
.sm{
    border:2px solid red;
    margin:5px;

}
.name{
    font-weight:900;
    font-size: 2vw;
    text-decoration:underline dotted;
    color:black;
    /* display:flex; */
    /* flex-wrap: wrap; */
}

.info{
    font-size: 20px;
    font-weight: 700;
    color:brown;
}

/* .img{

        padding: 5vw;
        font-size: 5vw;
        text-align: center;
        color: white;
        display: flex;
        text-shadow: 2px 2px 3px rgb(83, 132, 183);

} */
.d {
    width: 22vw;
    height: 65vh;
    box-shadow: 0 0 1vw black;
    border-radius: 3vw;
    margin: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 2vw; */
    /* animation: lgbt 12s infinite ; */
    transition: transform 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
    position: abs;
    background-color: rgb(189, 189, 223);
    overflow: hidden;
    margin:9px;

}
.ss {
    width: 22vw;
    height: 65vh;
    box-shadow: 0 0 1vw black;
    border-radius: 3vw;
    margin: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 2vw; */
    /* animation: lgbt 12s infinite ; */
    transition: transform 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
    position: abs;
    background-color: rgb(189, 189, 223);
    overflow: hidden;
    margin:9px;

}
.sm {
    width: 22vw;
    height: 65vh;
    box-shadow: 0 0 1vw black;
    border-radius: 3vw;
    margin: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 2vw; */
    /* animation: lgbt 12s infinite ; */
    transition: transform 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
    position: abs;
    background-color: rgb(189, 189, 223);
    overflow: hidden;
    margin:9px;

}
.cards{
    display:flex;
    
}
.d:hover {
    transform: scale(1.1);
    z-index: 10;
}
.ss:hover {
    transform: scale(1.1);
    z-index: 10;
}
.sm:hover {
    transform: scale(1.1);
    z-index: 10;
}

@media (max-width: 600px) {
 
    .card{
        width: 100%;
        height: 60vw;
    }

    .card:hover{
        z-index: 100;
    }

/*     .socialmedia{
        display:none;
    } */
    .info{
        display:flex;
        flex-wrap: wrap;
    }
 
    .name{
        padding: 0;
        font-size: 4vw;
        flex-wrap: wrap;;
    }
    
}
@media(max-width:900px)and (min-width:600px){
    .name{
        font-size:30px ;
    }
    .info1{
        display:flex;
        flex-wrap: wrap;
    }
    .hide{
        display:none;
    }
    .shorten{
        color:blue;
        text-decoration: underline;
    }
}
.shorten{
    color:black;
    /* text-decoration: underline; */
}
.socialmedia{
    color:black;
    /* text-decoration: underline; */
}

