.placards3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Ensure wrapping of cards on smaller screens */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
}

img{
    max-width: 200px;
    max-height: 200px;
}

.cards3 {
    width: 80vw;
    gap: 3vw; /* Reduce gap for better fit on smaller screens */
    flex-wrap: wrap; /* Ensure wrapping of cards on smaller screens */
    display: flex;
    align-items: center;
    justify-content: center;
}

.d, .ss, .sm {
    border: 2px solid rgb(189, 189, 223);
    margin: 5px;
    width: 22vw;
    height: 65vh;
    box-shadow: 0 0 1vw black;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
    background-color: rgb(189, 189, 223);
    overflow: hidden;
}

.name2 {
    font-weight: 900;
    font-size: 2vw;
    /* text-decoration: underline dotted; */
    color: black;
    text-align: center; /* Center text for better alignment */
    display:flex;
    flex-wrap: wrap;  
}

.info {
    font-size: 1.5vw;
    font-weight: 500;
    color: brown;
    text-align: center; /* Center text for better alignment */
}

/* Hover Effect */
.d:hover, .ss:hover, .sm:hover {
    transform: scale(1.1);
    z-index: 10;
}

/* Extra Styles */
.shorten {
    color: black;
}

.socialmedia {
    color: black;
}

.buttons2{
    display: flex;
    justify-content: space-evenly;
}

.huhu2{
    margin-top: 1vw;
    border: 2px solid burlywood;
    width: 7vw;
    background-color: burlywood;
    border-radius: 20px;
    height: 2vw;
    transition: transform 0.3s ease;
}

.huhu2:hover{
    background-color: burlywood;
    cursor: pointer;
    transform: scale(1.3);
}

/* Media Queries */
@media (max-width: 600px) {
    .d, .ss, .sm {
        width: 70vw;
        height: 65vh;
        margin: 10px 0;
        padding: 20px;
    }

    .name2 {
        font-size: 6vw;
        padding: 0;
    }

    .info {
        font-size: 4vw;
        display: flex;
        flex-direction: column;
    }
    
    .huhu2{
        width: 90%;
        height: 50%;
        background-color: lightgreen;
        border: none;

    }
}

/* @media (min-width: 600px) and (max-width: 900px) {
    .d, .ss, .sm {
        width: 45%;
        height: auto;
        margin: 10px 2.5%;
        padding: 20px;
    }
    .name2 {
        font-size: 4vw;
    }
    .info {
        font-size: 3vw;
        text-align: center;
    }
} */

/* @media (min-width: 900px) {
    .d, .ss, .sm {
        width: 22vw;
        height: 65vh;
        margin: 3vw 0;
    }
    .name2 {
        font-size: 2vw;
    }
    .info {
        font-size: 1.5vw;
    }
} */

