*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    /* background-color: #465375; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar {
    /* background-color: #465375; */
    background-color: #ffffff;
    backdrop-filter: blur(4vw);
    width: 100%;
    height: 4vw;
    border-top: 1px solid;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    /* border-bottom: 0.1vw solid gray; */
    z-index: 20;
}

.welcome-message {
    color: #465375;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    /* height: 4vh; */
    /* margin-bottom: 1vw; */
    align-items:center;
}

.cart {
    text-decoration: none;
    color: rgb(2, 52, 233);
    font-size: 3vw;
}

.nav-link {
    padding: 0.5vw;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 1.4vw;
    transition: transform 0.4s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    color: white;
    background-color: black;
    border-radius: 4px;
}



.div1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.logo {
    height: 100%;
    color: rgb(211, 236, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2vw;
    font-weight: 900;
    font-size: 1.7vw;
}

.placards1{
    width: 100%;
    display: flex;
    text-align: center;
    gap: 2vw;
}

.name {
    font-size: 2vw;
    font-weight: 900;
    /* text-decoration: dashed; */
    justify-content: center;
    display: flex;
    color: black;
    margin: 1vw;
}

.main-content {
    width: 100%;
    height: 100vh; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 4vw; 
    /* border: 3px solid navy; */
    display: flex;
    justify-content: center;
}

.placards1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: normal;
    gap: 2vw;
    padding: 1vw;
    animation: grow 1s ease-in-out;
}

.card {
    width: 22vw;
    height: 65vh;
    box-shadow: 0 0 1vw black;
    border-radius: 3vw;
    margin: 3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 2vw; */
    /* animation: lgbt 12s infinite ; */
    transition: transform 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
    background-color: rgb(189, 189, 223);
    overflow: hidden;
}

.card img {
    border: 0px solid brown;
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 2vw; */
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
}

.status1 {
    text-decoration: dashed;
    align-items: center;
    font-size: 1.4vw;
    display: flex;
    width: 100%;
    margin: 0vw;
    justify-content: space-around;
    color: black;
}

.status2{
    text-decoration: dashed;
    align-items: center;
    font-size: 1vw;
    display: flex;
    width: 100%;
    gap: 0.2vw;
    justify-content: space-evenly;
    color: white;
    margin-top: 0.8vw;
    
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.button {
    background-color: greenyellow;
    cursor: pointer;
    border: 1px solid rgb(31, 107, 31);
    border-radius: 25px;
    margin-top: 2vw;
}

.b4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
    padding: 0.6vw;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
}

.button:hover {
    color: black;
    background-color: white;
}

.h1 b {
    padding: 5vw;
    font-size: 5vw;
    text-align: center;
    color: white;
    display: flex;
    text-shadow: 2px 2px 3px rgb(83, 132, 183);
}

.yo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hehe {
    background-color: rgb(43, 119, 108);
    padding: 9vw;
    border-radius: 39px;
    text-align: center;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1vw;
    width: 80%;
    height: 60%;
    box-shadow: 0px 8px 60px rgb(206, 223, 230);
    animation: grow 1s ease-in-out forwards;
}

.full{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes textGlow {
    0% {
        text-shadow:
            0 0 0.1vw rgb(113, 48, 128),
            0 0 1vw rgb(2, 20, 4),
            0 0 2vw rgb(105, 73, 30),
            0 0 3vw rgb(178, 188, 35),
            0 0 4vw white;
    }
    50% {
        text-shadow:
            0 0 0.7vw rgb(113, 48, 128),
            0 0 1.7vw rgb(2, 20, 4),
            0 0 2.7vw rgb(105, 73, 30),
            0 0 3.7vw rgb(178, 188, 35),
            0 0 4.7vw white;
    }
    100% {
        text-shadow:
            0 0 0.1vw rgb(113, 48, 128),
            0 0 1vw rgb(2, 20, 4),
            0 0 2vw rgb(105, 73, 30),
            0 0 3vw rgb(178, 188, 35),
            0 0 4vw white;
    }
}

.fullPage {
    width: 55vw;
    height: 62vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    animation: fadeInZoom 2s ease-in-out;
}

.fullPage .h1 {
    color: white;
    font-size: 17vw;
    text-shadow:
        0 0 0.1vw rgb(113, 48, 128),
        0 0 1vw rgb(2, 20, 4),
        0 0 2vw rgb(105, 73, 30),
        0 0 3vw rgb(178, 188, 35),
        0 0 4vw white;
    margin-bottom: 4vw;
    animation: textGlow 3s infinite alternate;
}

.subscript {
    margin: 10px;
    width: 40vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    color: white;
    gap: 2vw;
}




@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lgbt {
    0% {
        box-shadow: 0 0 4vw rgb(255, 0, 17);
    }
    20% {
        box-shadow: 0 0 4vw rgb(0, 255, 0);
    }
    40% {
        box-shadow: 0 0 4vw rgb(244, 234, 244);
    }
    60% {
        box-shadow: 0 0 4vw rgb(228, 244, 0);
    }
    80% {
        box-shadow: 0 0 4vw rgb(17, 159, 235);
    }
    100% {
        box-shadow: 0 0 4vw rgb(255, 0, 17);
    }
}

.hehe form {
    font-size: 1.2vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hehe input {
    width: 15vw;
    margin: 1vw 0;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(192, 255, 250);
    color: rgb(47, 15, 97);
    text-align: center;
    font-size: 1vw;
    font-weight: 700;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    background-color: greenyellow;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgb(31, 107, 31);
    border-radius: 25px;
    width: 100px;
    margin-top: 10px;
}

button:hover {
    background-color: darkgreen;
}

.a {
    padding: 1.3vw;
    flex-direction: row;
    display: flex;
    font-size: 12px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    color: rgb(187, 170, 159);
    text-decoration: none;
    justify-content: center;
    font-size: 1.3vw;
    font-weight: 700;
}

.a:hover {
    color: white;
    transform: scale(1.3);
}

.Google {
    margin: 6vw;
    margin-left: 6vw;
    padding: 1.3vw;
    width: 20vw;
    background-color: white;
    flex-direction: row;
    display: flex;
    font-size: 12px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    color: black;
    text-decoration: none;
    justify-content: center;
}

.he {
    margin-left: 20px;
    margin-right: 0;
    color: black;
    text-decoration: none;
}

.Google:hover {
    background-color: rgb(111, 251, 60);
    cursor: pointer;
    transform: scale(1.2);
}

.facebook {
    margin: 6vw;
    margin-left: 6vw;
    padding: 1.4vw;
    width: 20vw;
    background-color: rgb(41, 39, 143);
    flex-direction: row;
    display: flex;
    font-size: 12px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    color: white;
    text-decoration: none;
    justify-content: center;
}

.facebook:hover {
    background-color: blue;
    cursor: pointer;
    transform: scale(1.2);
}

.heya {
    margin-left: 20px;
    margin-right: 0;
    color: white;
    text-decoration: none;
}

.aayein {
    text-decoration: none;
    margin: 1vw 0;
    width: 100%;
}

.quantity{
    padding: 0 2vw;
    background-color: darkcyan;
    margin: 0 0vw;
    border-radius: 5px;
}

.incdec{
    width: 3vw;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .hehe {
        font-size: 2.3vw;
        width: 80vw;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .h1 {
        font-size: small;
    }

    .he {
        font-size: 1.75vw;
    }

    .heya {
        font-size: 1.45vw;
    }

    .Google {
        margin: 2vw;
        padding: 0.5vw;
        padding-right: 2vw;
        align-items: center;
        width: 22vw;
    }

    .facebook {
        margin: 2vw;
        padding: 0.9vw;
        padding-right: 2vw;
        align-items: center;
    }

    .hehe {
        display: inline-block;
        align-items: center;
    }

    .a {
        color: black;
    }

    .god {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hehe input {
        width: 25vw;
        height: 4vw;
        margin: 2vw 0;
    }

    .h1 b {
        font-size: 11vw;
        color: rgb(255, 255, 255);
        text-shadow: 4px 3px 5px rgb(70, 57, 192);
        display: flex;
        justify-content: space-around;
    }

    .h1 {
        margin: 6vw;
    }

    .hehe input {
        font-size: 2vw;
    }

    .a {
        color: white;
        font-size: 3vw;
    }

    button {
        padding: 1vw;
        width: 14vw;
        font-size: 2vw;
        margin: 2vw 0;
    }

    .aayein a {
        text-decoration: none;
        margin: 1vw 0;
        width: 100%;
        color: rgb(158, 212, 245);
    }

    .navbar{
        width: 100%;
        height: 7vw;
        font-size: 10vw;
        overflow-y: auto;
    }

    .card{
        width: 40vw;
        height: 60vw;
    }
    .welcome-message{
        font-size: 5vw;
    }

    .card:hover{
        z-index: 100;
    }

    .main ::-webkit-scrollbar{
        display: none;
    }

    h6{
        display: none;
    }
    .ratings{
        display: none;
    }
    .name{
        padding: 0;
        font-size: 5vw;
    }
    .rateOld{
        display: none;
    }
    .status1{
        padding: 0;
        font-size: 3vw;
        margin: 0;
    }

    p{
        display: none;
    }

    .status2{
        font-size: 3vw;
    }
    .b4{
        width: 17.20vw;
        height: 7vw;
        font-size: 2.7vw;
    }
    .incdec{
        border-radius: 10px;
        width: 6vw;
    }
    .quantity{
        border-radius: 10px;
        padding: 0.5vw 3vw;
    }
    .fullPage .h1{
        font-size: 27vw;
    }
}

/* @media (max-width: 1024px) {
    .placards1 {
        flex-wrap: wrap;
    }

    .card {
        width: 45vw;
        height: 60vw;
    }

    .name {
        font-size: 2vw;
    }

    .status1 {
        font-size: 1.3vw;
    }

    .button button {
        padding: 8px;
        width: 80px;
        font-size: 1.5vw;
    }

    .nav-link {
        font-size: 1vw;
    }
} */

/* @media (max-width: 768px) {
    .placards1 {
        flex-wrap: wrap;
    }

    .card {
        width: 80vw;
        height: 60vw;
    }

    .name {
        font-size: 3vw;
    }

    .status1 {
        font-size: 1.7vw;
    }

    .button button {
        padding: 8px;
        width: 120px;
        font-size: 2vw;
    }

    .navbar{
        height: 20vw;
        display: flex;
        justify-content: space-between;
        margin: 0 0;
       
    }

    .nav-link {
        font-size: 6vw;
    }

    .nav-link {
        display: none;
    }
} */

.aayein a {
    text-decoration: none;
    margin: 1vw 0;
    width: 100%;
    height: 2vw;
    color: rgb(158, 212, 245);
    transition: transform 0.2s ease;
    padding: 1vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.aayein a:hover {
    transform: scale(1.1);
    color: aquamarine;
}

.dropdown {
    position: relative;
    display: none; /* Initially hidden */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(10, 10, 67);
    /* min-width: 160px; */
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  .dropdown-content .nav-link {
    color: rgb(174, 130, 130);
    width: 16vw;
    height: 7vw;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    /* display: block; */
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content .nav-link:hover {
    background-color: #f1f1f1;
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    z-index: 1000;
  }
  
  .p1 {
    margin: 1vw;
    display: none;
    font-size: 2.5vw;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .div1 {
      display: none; 
    }
  
    .p1 {
        font-size: 5vw;
      display: block; 
    }
  
    .dropdown {
      display: flex; 
    }
  }
 
  
.Redirect{
    margin-top: 2vw;
    width: 12vw;
    border-radius: 40px;
    height: 4vw;
    font-size: 2vw;
    background: black;
    color: white;
    border: 1px solid gold;
    transition: transform 0.3s ease;
}

.Redirect:hover{
    background-color: white;
    color:  black;
    transform: scale(1.2);
}

@media (max-width:600px) {
    .Redirect{
        width: 22vw; 
        height: 6vh;   
        font-size: 4vw;
        text-align: center;
    }
}